extends layout

block content
	link(rel="stylesheet", href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css")
	.row
		.col-lg-2
		.col-sm-8(style="text-align:center")
			h1 HopHacks 2016 OpenTrckr
			p.lead Tracking Disease, Mosquitoes, and Directing Help
		.col-lg-2
	.row
		.col-sm-1
		.col-sm-10
			#map(style="width:100%; height: 800px")
			script(src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js")
			script.
				function main() {
				cartodb.createVis('map', 'https://shivtoolsidass.cartodb.com/api/v2/viz/3e08ad58-ccaf-11e5-94fe-0ea31932ec1d/viz.json', {
				shareable: false,
				title: false,
				description: false,
				search: false,
				tiles_loader: true,
				center_lat: 13.636263,
				center_lon: -72.966396,
				zoom: 4
				})
				.done(function(vis, layers) {
				layers[1].setInteraction(true);
				layers[1].on('featureOver', function(e, latlng, pos, data) {
				cartodb.log.log(e, latlng, pos, data);
				});
				var map = vis.getNativeMap();
				})
				.error(function(err) {
				console.log(err);
				});
				}
				window.onload = main();
		.col-sm-1
	.col-sm-2
	.col-sm-8
			hr
			.col-sm-6
				h3 Mosquito-Borne Diseases Kill
				p Mosquito-Borne diseases such as zika, dengue fever, and malaria kill over <b><h4>1 million people</h4></b> per year.  We aim to do do our part in lowering the lethality and infection rates of mosquito-borne illness by promoting openness and government reaction.
			.col-sm-6
				h3 Raising Local Awareness to Fight Back
				p This website raises conscientiousness of mosquito-borne diseases and encourages governments to take action against viruses and mosquito breeding grounds.
	.col-sm-2