extends layout

block content
	link(rel="stylesheet", href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css")
	h1 HopHacks 2016 Zika and Disease Tracker
	p.lead Tracking Disease, Mosquitos, and Directing Help
	hr
	.row
		.col-sm-12
			h2 Live Map
			p Up to date map of your local area
			#map(style="width:100%; height:800px;")
			script(src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js")

	script.
		function main() {
		cartodb.createVis('map', 'http://documentation.cartodb.com/api/v2/viz/2b13c956-e7c1-11e2-806b-5404a6a683d5/viz.json', {
			shareable: true,
			title: true,
			description: true,
			search: true,
			tiles_loader: true,
			center_lat: 0,
			center_lon: 0,
			zoom: 2
		})
		.done(function(vis, layers) {
		  // layer 0 is the base layer, layer 1 is cartodb layer
		  // setInteraction is disabled by default
		  layers[1].setInteraction(true);
		  layers[1].on('featureOver', function(e, latlng, pos, data) {
			cartodb.log.log(e, latlng, pos, data);
		  });

		  // you can get the native map to work with it
		  var map = vis.getNativeMap();
		})
		.error(function(err) {
		  console.log(err);
		});
		}

		window.onload = main();
	
	hr
	.row
		.col-sm-6
			h3 Panel 1
			p Here goes some information!
		.col-sm-6
			h3 Panel 2
			p and even more here!