@import "themes/default/variables";

@import "vendors/bootstrap/bootstrap";
@import "vendors/bootstrap-social";
@import "vendors/font-awesome/font-awesome";

@import "themes/default/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color:#c2d6d6;
  padding-top: 60px;
  margin-bottom: 75px;
}
#map {
  box-shadow: 15px 15px 30px rgba(52,73,94, 0.9);
}

.container-fluid {
   .row .col-sm-8 {
     background-color: rgba(52,73,94, 0.5);
     border-radius: 100px;
     bottom: 80px;
      > h1 {
      margin-top: 75px;
      bottom:0px;
      > p {
      }
      }
  }
}
footer {
  background-color:#34495e;
  color:white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}
